<div class="w-full h-screen bg-green-50 flex justify-center items-center">
    <!-- sidebar -->
    <div class="w-fit h-screen p-3 flex flex-wrap flex-col justify-between items-center">
        <img width="90px" src="../../assets/Images/logo_without_text.png" alt="">
        <div class="w-fit h-44 text-slate-400 flex flex-col justify-evenly items-center">
            <i class="fa-brands fa-facebook fa-lg"></i>
            <i class="fa-brands fa-instagram fa-lg"></i>
            <i class="fa-brands fa-twitter fa-lg"></i>
            <i class="fa-brands fa-linkedin fa-lg"></i>
        </div>
    </div>

    <!-- landing -->
    <div class="flex">
        <div>
            <div class="p-11 mt-5">
                <p class="text-9xl uppercase font-light text-green2 drop-shadow-lg">Green <span class="font-medium ">Way Go</span></p>
                <p class="text-2xl mt-2 ms-5 text-slate-400">Mapping Your Green Journey</p>
                <button routerLink="/login" class="bg-green1 text-lg text-slate-100 font-medium mt-8 ms-5 py-3 px-6 rounded-full drop-shadow-md">Get Started</button>
            </div>
            
            <div class="ps-11 mt-5 ms-5 flex flex-wrap justify-between">
              <div class="max-w-80 ">
                <p class="mb-3 text-xl font-medium" >Our Mission</p>
                <p class="text-sm text-slate-500">The project's mission is to encourage and enable users to make sustainable transportation choices, reduce their carbon footprint, and contribute to a healthier environment.</p>
              </div>
              <div class="max-w-80">
                <p class="mb-3 text-xl font-medium">Our Enviroment</p>
                <p class="text-sm text-slate-500">We should use all the posible methods to inspire the next generation towards achieving a green and sustainable enviroment</p>
              </div>
  
            </div>
        </div>
        <div class="Landing-Image">
            <img class="drop-shadow-2xl" width="1100px" src="../../assets/Images/landing.png" alt="">
        </div>
    </div>
</div>
