<button (click)="toggleModal()" class="bg-profileColor px-3 py-2 rounded-lg text-slate-50 font-medium">Add Commute</button>

<!-- modal -->
<div *ngIf="showModal" class="fixed inset-0 z-50 focus:outline-none flex justify-center items-center">
  <div class="relative w-96">
    <div class="rounded-lg shadow-lg relative flex flex-col w-full bg-white focus:outline-none">
        <!-- close button -->
        <div class="p-2 relative">
            <button (click)="toggleModal()" class="absolute right-1 top-1 p-2 text-slate-600 hover:bg-slate-200 "><i class="fa-solid fa-xmark fa-lg"></i></button>
        </div>
        <!--body-->
        <div class="p-8 flex flex-col items-center justify-center">
            <img class="mb-3" width="200px" src="../../assets/Images/commute-img.png" alt="">
            <form [formGroup]="addCommuteForm">
                <select name="commuteMethod" formControlName="commuteMethod" class="w-80 h-12 py-3 mt-3 px-3 text-lg bg-zinc-100 focus:outline-none">
                    <option value=null selected hidden disabled>Choose your commute</option>
                    <option value="Walking">Walking</option>
                    <option value="Cycling">Cycling</option>
                    <option value="Electric car">Electric Car</option>
                    <option value="Public transport">Public transport</option>
                    <option value="Car pooling">Car pooling</option>
                </select>
                <input name="kilometers" formControlName="kilometers" class="w-80 h-12 py-3 px-3 text-lg mt-4 bg-zinc-100 focus:outline-none placeholder:text-slate-950"  type="text" placeholder="Enter distance in km">
                <input name="date"  formControlName="date"  class="w-80 h-12 py-3 px-3 text-lg mt-4 bg-zinc-100 focus:outline-none" type="date" [max]="maxDate">
                <button (click)="handleAddCommute()" class="w-80 h-12 py-3 px-3 text-lg mt-4 text-slate-950 bg-lime-200" type="submit">Add Commute</button>
            </form>   
        </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-40 fixed inset-0 z-40 bg-black"></div>

