<div class="w-full h-screen flex justify-between">
    <div class="h-screen px-2 py-4 border-r-2 flex flex-col justify-between items-center">
        <div class="h-1/5 flex flex-col justify-between items-center">
            <img width="65px" src="../../assets/Images/logo_without_text.png" alt="">
            <button><i class="fa-sharp fa-solid fa-chart-pie fa-2xl text-green2"></i></button>
        </div>
        <div>
            <button (click)="Logout()"><i class="fa-solid fa-arrow-right-from-bracket fa-xl text-zinc-400 hover:text-green2 mb-6"></i></button>
        </div>
    </div>
   
    <div class="w-9/12 h-screen p-3">
        <!-- green commute text and buttons -->
        <div class="w-100 h-28 px-6 flex justify-between items-baseline">
            <div class="mt-5">
                <p class="text-4xl font-medium">Green Commute</p>
                <p class="text-zinc-400 text-lg mt-2 ms-2">Let's check your progress</p>
            </div>
            <div>
                <app-add-commute (onAddCommute)="onAddCommute($event)"></app-add-commute>
            </div>
        </div>

        <div class="flex mt-4 flex-wrap">
            <!--all commute -->
            <div style="height: 590px;" class="px-6 overflow-y-auto overflow-x-hidden">
                <div class="flex justify-center items-center mb-4">
                    <button (click)="setCategoryKey('')" class="px-3 py-1 bg-lime-100 rounded-md font-bold text-green1 me-2">All</button>
                    <button (click)="setCategoryKey('Walking')" class="px-3 py-1 bg-lime-100 rounded-md font-bold text-green1 me-2">Walking</button>
                    <button (click)="setCategoryKey('Cycling')" class="px-3 py-1 bg-lime-100 rounded-md font-bold text-green1 me-2">Cycling</button>
                    <button (click)="setCategoryKey('Electric car')" class="px-3 py-1 bg-lime-100 rounded-md font-bold text-green1 me-2">Electric car</button>
                    <button (click)="setCategoryKey('Public transport')" class="px-3 py-1 bg-lime-100 rounded-md font-bold text-green1 me-2">Public transport</button>
                    <button (click)="setCategoryKey('Car pooling')" class="px-3 py-1 bg-lime-100 rounded-md font-bold text-green1 me-2">Car pooling</button>
                </div>
                <!--  card -->
                <div *ngFor="let commute of allCommuteCopy | category:categoryKey ; let i = index" style="width: 700px;" class="bg-lime-200 p-3 rounded-xl flex h-28 mb-4"> 
                        <div class="relative">
                            <div class="w-20 h-20 absolute z-10 flex flex-col justify-center items-center">
                                <p class="text-sm">{{getMonthInfo(commute.date)}}</p>
                                <p class="text-2xl font-bold">{{getDay(commute.date)}}</p>
                                <p class="text-sm">{{getYear(commute.date)}}</p>
                            </div>
                            <img class="drop-shadow-xl" width="90px" src="../../assets/Images/Vector 1.png" alt="">
                        </div>
                        <div class="flex justify-evenly-items-center py-3 px-2">
                            <div class="border-r-2 border-zinc-300 ms-4 pe-4 w-40">
                                <p>Activity</p>
                                <div class="mt-2 flex items-center">
                                    <p class="text-md font-bold max-w-24 me-3">{{commute.commuteMethod}}</p>
                                    <div *ngIf="commute.commuteMethod==='Cycling'" ><i class="fa-solid fa-person-biking fa-2xl"></i></div>
                                    <div *ngIf="commute.commuteMethod==='Walking'" ><i class="fa-solid fa-person-walking fa-2xl"></i></div>
                                    <div *ngIf="commute.commuteMethod==='Electric car'" ><i class="fa-solid fa-car fa-2xl text-green1"></i></div>
                                    <div *ngIf="commute.commuteMethod==='Car pooling'" ><i class="fa-solid fa-car-side fa-2xl"></i></div>
                                    <div *ngIf="commute.commuteMethod==='Public transport'" ><i class="fa-solid fa-train-subway fa-2xl"></i></div>
                                </div>
                            </div>
                            <div class="border-r-2 border-zinc-300 ms-6 pe-6">
                                <p>Kilometers done</p>
                                <p class=" mt-2 text-lg font-bold">{{commute.kilometers}} km</p>
                            </div>
                            <div class="border-r-2 border-zinc-300 ms-6 pe-6">
                                <p>Total points</p>
                                <p class=" mt-2 text-lg font-bold">{{commute.points}}</p>
                            </div>
                            <div class="ms-6 flex items-center">
                               <button (click)="deleteCommute(commute._id)" ><i class="fa-regular fa-trash-can fa-lg text-red-500"></i></button> 
                            </div>
                        </div>
                </div>

                <div *ngIf="(allCommuteCopy | category:categoryKey).length==0" style="width: 695px;">
                    <p class="text-lime-600 text-lg ms-2 mt-6">No commutes added yet!!! Please add...</p>
                </div>

            </div>

            <div class="ms-2 flex flex-col items-center">
                <!-- progress section -->
                <div style="width: 280px;" class="px-3 flex flex-col items-center">
                    <p class="text-xl font-medium mb-3">Statistics on {{monthInfo.month}}</p>
                    <img width="140px" src="../../assets/Images/progress.png" alt="">
                    <div class="mt-4">
                        <div class="w-64 flex justify-between items-baseline">
                            <p class="text-zinc-500">No of commutes</p>
                            <p class="font-bold text-green1">{{monthInfo.noOfCommutes}}</p>
                        </div>
                        <div class="w-64 mt-3 flex justify-between items-baseline">
                            <p class="text-zinc-500">Total kilometes</p>
                            <p class="font-bold text-green1">{{monthInfo.totalKilometers}}</p>
                        </div>
                        <div class="w-64 mt-3 flex justify-between items-baseline">
                            <p class="text-zinc-500">Total points</p>
                            <p class="font-bold text-green1">{{monthInfo.monthPoints}}</p>
                        </div>
                    </div>
                </div>
    
                <!-- Carbon footprint section -->
                <div style="width: 280px;" class="px-3 mt-10 flex flex-col items-center">
                    <p class="text-xl font-medium mb-3">Carbon footprint savings</p>
                    <img width="140px" src="../../assets/Images/co2e.png" alt="">
                    <div class="w-64 flex justify-between items-baseline">
                        <p class="text-zinc-500">Total CO2e saved</p>
                        <p class="font-bold text-green1">{{co2esaved}} kg</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- profile -->
    <div class="profile w-1/4 flex flex-col px-6 py-12 pb-32 justify-between items-center">
        <div class="flex flex-col items-center">
            <img *ngIf="!userDetails.profile"  class="rounded-full" width="125px" height="125px" src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?w=740&t=st=1709116294~exp=1709116894~hmac=6d3f4c643a3e86247f8749cab2d42a0e936662a75578b8bc3e9735f44cdc98a5" alt="">
            <img *ngIf="userDetails.profile" class="rounded-full" width="125px" height="125px" src="{{SERVER_URL}}/uploads/{{userDetails.profile}}" alt="">
            <p class="text-slate-50 text-xl mt-5 font-medium mb-6">{{userDetails.username}}</p>
            <app-edit-profile (onUserUpdate)="onUserUpdate($event)"></app-edit-profile>
        </div>
        <div class="flex flex-col items-center">
            <p class="text-slate-50 mb-3">Milestone Points:</p> 
            <div class="milestone-container w-80 h-28 rounded-2xl p-3 flex justify-between ">
                <div class="relative">
                    <div class="w-20 h-20 absolute z-10 flex flex-col justify-center items-center">
                        <p>Level</p>
                        <p class="text-3xl font-bold">{{milestone.level}}</p>
                    </div>
                    <img class="drop-shadow-xl" width="90px" src="../../assets/Images/Vector 1.png" alt="">
                </div>
                <div class="me-2">
                    <div class="flex justify-between mb-1 text-slate-50">
                        <p>{{milestone.lowerLimit}}</p>
                        <p>{{milestone.upperLimit}}</p>
                    </div>
                    <div class="w-44 bg-gray-500 rounded-full h-2.5">
                        <div class="bg-lime-200 h-2.5 rounded-full" [style.width]="milestone.barValue+'%'" ></div>
                    </div>
                    <p class="text-slate-50 mt-5 ms-3">Total Points : {{totalPoints}}</p>
                </div>
            </div>
        </div>
        <p *ngIf="userDetails.location" class="text-2xl  text-slate-50 font-light"><i class="fa-solid fa-location-dot fa-xs"></i> {{userDetails.location}}</p>
        <p *ngIf="userDetails.location?.length==0" class="text-2xl  text-slate-50 font-light"><i class="fa-solid fa-location-dot fa-xs"></i> Location</p>
    </div>
</div>